.margin{
    margin-left: 3px;
}
.card{
    margin-top: 20px;
    padding: 20px;
}
.card img{
    width: 200px;
    height: 250px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
