<div class="navbar navbar-expand-sm bg-dark navbar-dark ">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <i style="font-size: 60p;" class="navbar-brand fas fa-book-open"> </i>&nbsp;
        </li>
        <li class="nav-item">
            <strong style="font-size: 60p;" class="navbar-brand">E library</strong>&nbsp;&nbsp;&nbsp;
        </li>
        <li class="nav-item">
            <input type="text" class="form-control" placeholder="search books">
        </li>&nbsp;&nbsp;
        <li class="nav-item">
            <span class="fas fa-search search-icon"></span>
        </li>
        <li> <i style="color: blueviolet;" class="fas fa-border-all"></i></li>&nbsp;
        <li><a style="color: white;" class="margin"> All Books</a></li>&nbsp;&nbsp;
        <li> <i style="color: blueviolet;" class="fas fa-book"></i></li>&nbsp;
        <li><a style="color: white;" class="margin"> Fiction</a></li>&nbsp;&nbsp;
        <li> <i style="color: blueviolet;" class="fas fa-history"></i></li>&nbsp;
        <li><a style="color: white;" class="margin"> History</a></li>&nbsp;&nbsp;
        <li> <i style="color: blueviolet;" class="fas fa-atom"></i></li>&nbsp;
        <li><a style="color: white;" class="margin"> Science</a></li>&nbsp;&nbsp;

    </ul>
    <button class="byn btn-dark">
        <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">1</div>
    </button>
</div>